.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav {
  background-color: #f9f9fa;
  padding: 15px 50px;
  border-top: 1px solid rgba(211, 204, 204, 0.5);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  left: 15px;
  bottom: 15px;
}

.nav__notification-dot {
  left: 27px;
  bottom: 27px;
}
