.user-component {
  display: flex;
  justify-content: space-between;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:nth-child(2) {
  color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.user-component__column__avatar {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin: 20px 10px;
}

.user-component__column__avatar-xl {
  width: 120px;
  height: 120px;
}

.user-component__column__avatar-sm {
  width: 80px;
  height: 80px;
}

.user-component__column__title {
  font-size: 20px;
  font-weight: 1200;
  margin: 5px;
}

.user-component__column__title-not-bold {
  font-weight: 20;
}

.user-component__column__subtitle {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin: 3px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}
