#chat-screen {
  background-color: rgb(155, 186, 208);
  margin-left: 0;
  margin-right: 0;
}

#chat-screen__bar {
  background-color: rgb(155, 186, 208);
}

@keyframes showDownChat {
  from {
    transform: translateY(30px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-day {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(229, 226, 226);
  border-radius: 30px;
  padding: 5px 10px;
  margin: 15px 0;
}

.today-chat {
  opacity: 0;
  animation: showDownChat 1s ease-in-out forwards;
}

.chat-screen__avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.message-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

@keyframes showLeftChat {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-own {
  justify-content: flex-end;
  opacity: 0;
  animation: showLeftChat 0.3s ease-in-out forwards;
  animation-delay: 1s;
}

.message-own .message-row__bubble {
  background-color: rgb(58, 58, 245);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
}

.message-own .message-row__text {
  flex-direction: row-reverse;
}

.message-row img {
  margin-right: 10px;
}

@keyframes showRightChat {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.today-message,
.today-message-row img {
  opacity: 0;
  animation: showRightChat 0.3s ease-in-out forwards;
  animation-delay: 2s;
}

.message-row__title {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.message-row__content {
  display: flex;
  flex-direction: column;
}

.message-row__text {
  display: flex;
  align-items: flex-end;
}

.message-row__bubble {
  background-color: white;
  padding: 7px 12px;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.message-row__time {
  color: var(--gray);
  font-size: 11px;
  margin: 0 5px;
}

.message-img {
  width: 200px;
  height: 200px;
}

.reply {
  display: flex;
  background-color: white;
  box-sizing: border-box;
  padding: 4px 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.reply i {
  font-size: 25px;
  opacity: 0.6;
}

.reply__column:first-child {
  width: 10%;
  text-align: center;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  width: 100%;
  height: 30px;
  border: var(--main-border);
  border-radius: 30px;
  padding-left: 15px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 2px;
}

.reply__column:last-child > i {
  right: 35px;
}

.reply__column:last-child button {
  background-color: rgb(243, 243, 14);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
